<h1>Lista de Locales</h1>

<table>
  <thead>
    <tr>
      <th>Nombre del Local</th>
      <th>Comuna</th>
      <th>Descripción del Local</th>
      <th>Calificación</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @locals.each do |local| %>
      <tr>
        <td> <%= local.nombre %> </td>
        <td> <%= local.comuna.nombre %> </td>
        <td> <%= local.descripcion %> </td>
        <% promedio = get_promedio_local(local) %>
        <td> <%= promedio != 0 ? promedio : "Sin reviews" %> </td>
        <td> <%= link_to "Ver detalles", local_path(local.id) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Volver a la pagina principal", root_path %>
<br>
