<section id="user_index_img" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
                <h1 class="title is-1"><%= @local.nombre %></h1>
                <h6 class="subtitle is-6"><%= @local.comuna.nombre %></h6>
                <br>
                <%= @local.descripcion %>
                <% if not @local.place_id %>
                <p>Ubicación no disponible</p>
                <% else %>
                <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:<%= @local.place_id %>&key=<%= Rails.application.credentials[:google_maps_api_key] %>" allowfullscreen></iframe> 
                <% end %>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                  <p><strong>Calificación: </strong><%= @promedio != 0 ? @promedio : "Este local no tiene reviews" %></p>
              </div>
              <div class="level-right">
                <a class="level-item">
                  <%= link_to "Ver reviews de este local", reviews_index_path(local_id: @local.id) %>
                </a>
                <a class="level-item">
                  <% if current_user %>
                    <%= link_to "Crear nueva review", reviews_new_path(local_id: @local.id) %>
                  <% end %>
                </a>
              </div>
            </nav>
          </div>
        </article>

      </div>
        <button id="buttonuser" class="button">
          <%= link_to "Volver al listado de Locales", locals_index_path %>
        </button>
      <% if current_admin %>
        <button id="buttonuser" class="button">
              <%= link_to "Eliminar este local", local_path(@local.id), method: :delete, data: {confirm: "Está seguro?"} %>
        </button>
    <% end %>
    </div>
  </div>
</section>