<p>
  <strong> Nombre del Local: </strong>
  <%= @local.nombre %>
</p>

<p>
  <strong> Comuna: </strong>
  <%= @local.comuna.nombre %>
</p>

<p>
  <strong> Descripción del Local: </strong>
  <%= @local.descripcion %>
</p>

<%= link_to "Volver al listado de Locales", locals_index_path %>
<br>

<% if current_user %>
  <%= link_to "Crear nueva review", reviews_new_path(local_id: @local.id) %>
<% end %>
<br>

<% if current_admin %>
  <%= link_to "Eliminar este local", local_path(@local.id), method: :delete, data: {confirm: "Está seguro?"} %>
<% end %>
