<p>
    <strong> Calificación: </strong>
    <%= @review.calificacion %>
</p>
<p>
    <strong> Comentario: </strong>
    <%= @review.comentario %>
</p>

<%= link_to "Volver al listado de reviews", reviews_index_path %>
<br/>

<% if current_user && current_user.admin %>
    <%= link_to "Editar esta review", reviews_edit_path(@review.id) %>
    <br/>
    <%= link_to "Eliminar esta review", review_path(@review.id), method: :delete, data: {confirm: "Está seguro?"} %>
<% end %>
