<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :comuna_id %><br />
    <%= f.text_field :comuna_id, autofocus: true, autocomplete: "comuna_id" %>
  </div>

  <div class="field">
    <%= f.label :ur_imagen %><br />
    <%= f.file_field :ur_imagen %>
  </div>

  <div class="field">
    <%= f.label :ur_edad %><br />
    <%= f.text_field :ur_edad, autofocus: true, autocomplete: "ur_edad" %>
  </div>


  <div class="field">
    <%= f.label :ur_telefono %><br />
    <%= f.text_field :ur_telefono, autofocus: true, autocomplete: "ur_telefono" %>
  </div>

  <div class="field">
    <%= f.label :gusto_id %><br />
    <%= f.text_field :gusto_id, autofocus: true, autocomplete: "gusto_id" %>
  </div>

  <div class="field">
    <%= f.label :ur_nombre %><br />
    <%= f.text_field :ur_nombre, autofocus: true, autocomplete: "ur_nombre" %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
