<h2>Iniciar Sesión (Usuario)</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Contraseña" %><br />
    <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "Recordar" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Iniciar Sesión" %>
  </div>
<% end %>

<br>
<%= render "users/shared/links" %>
<br>

<%= link_to "Volver a la pagina principal", root_path %>
