<section id="user_img" class="hero is-fullheight">
  <div class="hero-body">
    <div id="centrado" class="container">
        <h1 class="title has-text-white">
        Aquí podrás encontrar tu cita ideal.
        </h1>
        <button id="buttonuser" class="button is-large">
            <%= link_to "Conoce otros Usuari@s", users_index_path, class:"has-text-black" %>
        </button>
        <button id="buttonuser" class="button has-text-black is-large">
            <%= link_to "Matches", matches_show_especial_path, class:"has-text-black" %>
        </button>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <% if current_user.imagen.attached? %>
                    <figure class="image is-4by3">
                      <%= image_tag(current_user.imagen) %>
                    </figure>
                <% else%>
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/640x480.png">
                    </figure>
                <% end %>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child box">
              <p class="title"><%= current_user.nombre%></p>
              <p><%=current_user.descripcion%></p>
            </div>
          </div>
        </div>
        <button id="buttonuser" class="button has-text-black is-large">
            <%= link_to "Ver historial de reviews", reviews_index_path, class:"has-text-black" %>
        </button>
    </div>
  </div>
</section>