<h1>Creando nueva comuna</h1>

<%= form_with(model: @comuna_especifica, method: :post) do |f| %>
  <div class="field" >
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Volver al listado de comunas", comunas_index_path %>
