<section id="match_img" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
        <h1 class="title has-text-white"> Te han llegado las siguientes posibilidades de matches! </h1> 
        <div class="box">
            <% current_user.liked_matches.each do |match| %>
                <% if match.accept != true && match.n_rejections == 0%>
                    <article class="media">
                      <figure class="media-left">
                        <% if match.liker.imagen.attached? %>
                            <p class="image is-64x64">
                                <%= match.liker.imagen%>
                            </p>
                        <% else%>
                            <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        <% end %>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong><%= match.liker.nombre %></strong> <small><%match.liker.email%></small>
                            <br>
                            <%= match.liker.descripcion %>
                          </p>
                        </div>
                        <nav class="level is-mobile">
                          <div class="level-left">
                            <a class="level-item">
                              <%=  button_to 'Aceptar', matches_update_path(:match_id => match.id, :accept => true), method: :patch  %>
                            </a>
                            <a class="level-item">
                              <%=  button_to 'Rechazar', matches_update_rejections_path(:match_id => match.id, :n_rejections => 1), method: :patch  %>
                            </a>
                          </div>
                        </nav>
                      </div>
                    </article>
                <% else %>
                <% end %>
            <% end %> 
        </div>
        <button id="buttonuser" class="button">
            <%= link_to "Volver a la pagina principal", root_path %>
        </button> 
    </div>
  </div>
</section>


<% all_matches = Array.new %>
<% all_matches =  current_user.liked_matches + current_user.liker_matches%>


<section id="match_img_2" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
        <h1 class="title has-text-white"> Has hecho match con los siguientes usuario/s! </h1> 
        <div class="box">
            <% all_matches.each do |match| %>
                <% if match.accept == true && match.liked_id == current_user.id%>
                    <article class="media">
                      <figure class="media-left">
                        <% if match.liker.imagen.attached? %>
                            <p class="image is-64x64">
                                <%= match.liker.imagen%>
                            </p>
                        <% else%>
                            <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        <% end %>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong><%= match.liker.nombre %></strong> <small><%match.liker.email%></small>
                            <br>
                            <%= match.liker.descripcion %>
                          </p>
                        </div>
                        <nav class="level is-mobile">
                          <div class="level-left">
                            <a class="level-item">
                              <%=  button_to 'Agendar local para la cita', match_path(match.id) , method: :get %>
                            </a>
                          </div>
                        </nav>
                      </div>
                    </article>
                <% elsif match.accept == true && match.liker_id == current_user.id%>
                    <article class="media">
                      <figure class="media-left">
                        <% if match.liked.imagen.attached? %>
                            <p class="image is-64x64">
                                <%= match.liked.imagen%>
                            </p>
                        <% else%>
                            <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        <% end %>
                      </figure>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong><%= match.liked.nombre %></strong> <small><%match.liked.email%></small>
                            <br>
                            <%= match.liked.descripcion %>
                          </p>
                        </div>
                        <nav class="level is-mobile">
                          <div class="level-left">
                            <a class="level-item">
                              <%=  button_to 'Agendar local para la cita', match_path(match.id) , method: :get %>
                            </a>
                          </div>
                        </nav>
                      </div>
                    </article>
                <% end %>
            <% end %> 
        </div>
        <button id="buttonuser" class="button">
            <%= link_to "Volver a la pagina principal", root_path %>
        </button> 
    </div>
  </div>
</section>
