<h1>Creando Nuevo Gusto</h1>

<%= form_with(model: @gusto, method: :post) do |f| %>
    <div class="field" >
        <%= f.label :nombre %>
        <%= f.text_field :nombre %>
    </div>

    <div class="field" >
        <%= f.label :descripcion %>
        <%= f.text_area :descripcion %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

<%= link_to "Volver al listado de comunas", gustos_index_path %>
