<section id="user_index_img" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
                <h1 class="title is-1"><%= @gusto.nombre %></h1>
                <%= @gusto.descripcion %>
            </div>
          </div>
        </article>

      </div>
        <button id="buttonuser" class="button">
          <%= link_to "Volver al listado de gustos", gustos_index_path %>
        </button>
      <% if current_admin %>
        <button id="buttonuser" class="button">
          <%= link_to "Editar este gusto", gusto_edit_path(@gusto.id) %>
        </button>
        <button id="buttonuser" class="button">
          <%= link_to "Eliminar este Gusto", gusto_path(@gusto.id), method: :delete, data: {confirm: "Está seguro?"} %>
        </button>
    <% end %>
    </div>
  </div>
</section>