<h1>Crear review</h1>

<%= form_with(model: @review, method: :post) do |f| %>
  <div class="field">
    <%= f.label :calificacion %>
    <%= f.number_field :calificacion, in: 1...11, required: true %>
  </div>

  <div class="field">
    <%= f.label :comentario %>
    <%= f.text_area :comentario %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :local_id, :value => params[:local_id].to_i %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Volver", :back %>
