<p>
  <strong> Local: </strong>
  <%= @review.local.nombre %>
</p>
<p>
  <strong> Autor: </strong>
  <%= @review.user.nombre %>
</p>
<p>
  <strong> Fecha: </strong>
  <%= @review.created_at %>
</p>
<p>
  <strong> Calificación: </strong>
  <%= @review.calificacion %>
</p>
<p>
  <strong> Comentario: </strong>
  <%= @review.comentario %>
</p>

<%= link_to "Volver al listado de reviews", reviews_index_path %>
<br/>

<% if current_admin || (current_user && current_user.id == @review.user.id) %>
  <%= link_to "Editar esta review", review_edit_path(@review.id) %>
  <br/>
  <%= link_to "Eliminar esta review", review_path(@review.id), method: :delete, data: {confirm: "Está seguro?"} %>
<% end %>
