<h2>Editar Usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, autocomplete: "nombre" %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :edad %><br>
    <%= f.number_field :edad, in: 18...100, autocomplete: "edad" %>
  </div>

  <div class="field">
    <%= f.label :comuna_id %><br>
    <%= f.collection_select :comuna_id, Comuna.order(:nombre), :id, :nombre, include_blank: 'Selecciona una comuna' %>
  </div>

  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono, autocomplete: "telefono" %>
  </div>

  <% if current_user.imagen.attached? %>

    <div class="field">
      <%= image_tag(current_user.imagen) %>
    </div>
  
  <% else%>
      <p> No tienes imagen de perfil </p>
  <% end %> 

  <div class="field">
    <%= f.label :imagen %><br>
    <%= f.file_field :imagen, accept:'image/*' %>
  </div>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, autocomplete: "descripcion" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Contraseña" %> <i>(deja en blanco si no deseas cambiarla)</i><br>
    <%= f.password_field :password %>
    <% if @minimum_password_length %>
      <br>
      <em><%= @minimum_password_length %> caracteres mínimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Confirmar contraseña" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label "Contraseña actual" %> <i>(debes introducir tu contraseña actual para confirmar tus cambios)</i><br>
    <%= f.password_field :current_password %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3>Cancelar my cuenta</h3>

<%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro que quieres cancelar tu cuenta?" }, method: :delete %>

<br>
<%= link_to "Volver", :back %>
<br>
